{
    "$schema": "https://www.schemastore.org/prettierrc.json",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "printWidth": 120,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "endOfLine": "lf",
    "jsxBracketSameLine": false,
    "overrides": [
        {
            "files": ["src/**/*.ts", "src/**/*.tsx"],
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
